img.wh{
    width: 100px;
    height: 100px;
}

.header {
    display: flex;
    padding: 10px 20px;
}
 
.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.header-cell {
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-cell:nth-child(1),
.header-cell:nth-child(3),
.header-cell:nth-child(4) {
    background: #ccc;
    color: black;
}
@media (max-width: 768px) {
    .header-grid {
        grid-template-columns: 1fr;
    }

    .menu {
        flex-direction: column;
        gap: 5px;
        padding-top: 10px;
    }

    .logo-title {
        margin-bottom: -17px;
    }
}